{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% translate "Pet Cam - Password Reset" %}</title>
    <style>
      /* Blank style */
    </style>
  </head>
  <body>
    <h1>Pet Cam</h1>
    <p>by therealsunnyxu</p>
    {% blocktranslate %}
    <p>
      You're receiving this email because you requested a password reset for your Pet Cam user account.
      <br />
      If you did not request a password reset, you may safely ignore this email.
    </p>
    {% endblocktranslate %}

    <p>{% translate "Please go to the following page and choose a new password:" %}</p>
    <p>
      <a href="{{ protocol }}://{{ domain }}{{ reset_route }}/{{uid}}/{{token}}">
        {{ protocol }}://{{ domain }}{{ reset_route }}/{{uid}}/{{token}}
      </a>
    </p>

    <p>
      {% translate 'In case you’ve forgotten, you are:' %}
      <strong>{{ user.get_username }}</strong>
    </p>
    <p>{% translate "Sincerely," %}<br>
    therealsunnyxu, developer</p>
  </body>
</html>
{% endautoescape %}
